#img-bg{
    background-image: url('https://i.pinimg.com/originals/55/bd/44/55bd44284fb5d5650bdf3bfacfa315a7.jpg');
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}